body {
  background: rgb(249, 249, 108);
  margin: 50px;
}

h1 {
  text-align: center;
  color: rgb(62, 42, 15);
  font-size: 46px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  color: brown;
}

.recipe {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.recipe a {
  color: rgb(153, 6, 6);
  font-size: 18;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.email-link:hover {
  text-decoration: underline;
}

.croissant-photo {
  max-width: 500px;
  border-radius: 5px;
  display: block;
  margin: 30px auto;
  box-shadow: 4px 4px 4px darkgray;
}
